---
import { Image } from "astro:assets";
import logo from "../../assets/brown_logo.svg";

---
<header class="header">
  <div class="navtext-container">
    <a href="#" class="">
      <Image src={logo} alt="logo" class="sm:w-16 sm:h-16 w-12 h-12"/>
    </a>
  </div>
  <input type="checkbox" class="menu-btn" id="menu-btn">
  <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
  <ul class="menu">
    <li class="home"><a href="/">ホーム</a></li>
    <li class="about"><a href="/about">協会について</a></li>
    <li class="rule"><a href="/rule">開催までの流れ</a></li>
    <li class="contact"><a href="/#contact">お問い合わせ</a></li>
  </ul>

</header>

<style>
/* Navbar & Navmenu color */
:root {
  --background-navbar: none;
}

.header.scrolled {
  --background-navbar: #FFF3E2;
}

.header {
  background: var(--background-navbar);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

@media (min-width: 640px) {
  .header {
    display: none;
  }
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100svh;
  top: 0;
  right: 0;
  margin-top: 72px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(0, 1);
  transform-origin: right;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: right;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  background-color: black;
  opacity: 0.8;
}

.menu-btn:checked ~ .menu.scrolled {
  background-color: #FFF3E2;
  opacity: 1;
}

/* Hamburger menu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.menu.scrolled a {
  color: #4d3a3f;
}

.menu li {
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #fff;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  z-index: 10;
}

.navicon.scrolled {
  background: #4d3a3f;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon.scrolled::before,
.navicon.scrolled::after {
  background: #4d3a3f;
}

.navicon::before {
  top: 9px;
}

.navicon::after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 10px;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
}

.navtext-container.scrolled {
  display: flex;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}
</style>

<script>
  window.addEventListener('scroll', function() {
    const navbar = document.querySelector('.header');
    const menu = document.querySelector('.menu');
    const logo = document.querySelector('.navtext-container');
    const navicon = document.querySelector('.navicon');
    const menuBtnChecked = document.querySelector('.menu-btn:checked ~ .menu');
    
    if (window.scrollY > this.window.innerHeight) {
      navbar?.classList.add('scrolled');
      menu?.classList.add('scrolled');
      logo?.classList.add('scrolled');
      navicon?.classList.add('scrolled');
      menuBtnChecked?.classList.add('scrolled');
    } else {
      navbar?.classList.remove('scrolled');
      menu?.classList.remove('scrolled');
      logo?.classList.remove('scrolled');
      navicon?.classList.remove('scrolled');
      menuBtnChecked?.classList.remove('scrolled');
    }
  })
</script>