---
import { Image } from "astro:assets";
import logo from "../../assets/brown_logo.svg";
---

<header class="main-header hidden sm:flex justify-between items-center w-full fixed top-0 left-0 h-24 z-10">
  <div class="logo-container pl-16">
    <div class="logo">
      <a href="/" class="flex items-center gap-4">
        <Image src={logo} alt="logo" class="w-16 h-16"/>
        <h1 class="text-left text-lg font-bold tracking-wider">いっ“ぱん”社団法人<br>ぱん食い競走協会<span class="text-xs font-normal tracking-wider">&nbsp;(設立準備中)</span></h1>
      </a>
    </div>
  </div>
  <div class="nav flex items-center gap-4 pr-20">
    <a href="/about">協会について</a>
    <p >|</p>
    <a href="/rule" >開催までの流れ</a>
    <p >|</p>
    <a href="#contact" >お問い合わせ</a>
  </div>
</header>

<style>
  .main-header.scrolled {
    background-color: #FFF3E2;
  }

  .logo {
    display: none;
  }

  .logo.scrolled {
    display: block;
  }

  .nav {
    color: #fff;
  }
  
  .nav.scrolled {
    color: #4d3a3f;
  }

  .nav a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
  }


  .nav p {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
  }

  .nav p.scrolled {
    color: #4d3a3f;
  }
</style>

<script>
  window.addEventListener('scroll', function() {
    const navbar = document.querySelector('.main-header');
    const logo = document.querySelector('.logo');
    const nav = document.querySelector('.nav');
    
    if (window.scrollY > this.window.innerHeight) {
      navbar?.classList.add('scrolled');
      logo?.classList.add('scrolled');
      nav?.classList.add('scrolled');
    } else {
      navbar?.classList.remove('scrolled');
      logo?.classList.remove('scrolled');
      nav?.classList.remove('scrolled');
    }
  })
</script>