<header class="justify-between items-center fixed top-0 left-0 w-full h-16 hidden sm:flex">
  <div class="pl-16">
  </div>
  <div class="flex items-center gap-4 pr-20">
    <a href="/about" class="text-sm font-bold tracking-wide text-white">協会について</a>
    <p>|</p>
    <a href="/rule" class="text-sm font-bold tracking-wide text-white">開催までの流れ</a>
    <p>|</p>
    <a href="/contact" class="text-sm font-bold tracking-wide text-white">お問い合わせ</a>
  </div>
</header>