---
import { Image } from "astro:assets";
import DonationCarousel from "../component/DonationCarousel.astro";
---

<div class="donation-container">
  <article class="flex flex-col items-center justify-center pb-20">
    <div class="title-container">
      <p class="subtitle">DONATION</p>
      <h1 class="title">寄付の取り組み</h1>
    </div>

    <p class="text-xl font-thin text-white mb-10">走った分だけ開催地域の子ども食堂にぱんを寄付します。</p>

    <div class="flex flex-col items-center justify-center">
      <DonationCarousel />
    </div>

  </article>
</div>

<style>
  .donation-container {
    background-color: #B78A60;
    text-align: center;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 160px;
    margin-bottom: 40px;
    gap: 22px;
  }

  .subtitle {
    color: white;
    font-weight: 900;
    font-size: 16px;
  }

  .title {
    color: white;
    font-weight: 700;
    font-size: 40px;
  }

</style>
