---
import { Image } from "astro:assets";
import SportsPanShip from "../../assets/rule_assets/sports_pan_ship.svg";
---

<div class="flex w-full justify-center items-center sm:pt-36 sm:px-52 p-5">
  <article class="w-420">
    <Image src={SportsPanShip} alt="スポーツぱんシップ宣言"/>
  </article>
</div>