---
import { Image } from "astro:assets";
import { getPastEventPhoto } from "../lib/microcms";

const res = await getPastEventPhoto();
---
<div class="swiper">
  <div class="swiper-wrapper max-w-[1040px] pb-10">
  {res.images.map((image: any) => (
    <div class="swiper-slide">
      <Image src={image.url + "?w=350&h=350&fit=crop"} alt="past-event-photo" width={350} height={350} />
    </div>
  ))}
  </div>
  <!-- スクロールバーの横幅を狭くして、真ん中に配置している。!はimportantの意味。swiperが設定しているCSSを上書きしている -->
  <div class="swiper-scrollbar max-w-[350px] !left-1/2 transform !-translate-x-1/2"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Scrollbar } from "swiper/modules";
  import "swiper/css/bundle";
  import "swiper/css/pagination";

  new Swiper(".swiper", {
    slidesPerView: 3,
    spaceBetween: 10,
    modules: [Scrollbar],
    loop: false,
    speed: 400,
    scrollbar: {
      el: ".swiper-scrollbar",
    }
  });
</script>

<style>

/** スクロールカスタマイズ参考URL: https://swiperjs.com/swiper-api#scrollbar */
.swiper-scrollbar {
  --swiper-scrollbar-drag-bg-color: #E17A19 !important;
  --swiper-scrollbar-bg-color: #FFF !important;
}
</style>
