---
import { Image } from "astro:assets";
import BreadEatingRace from "../assets/VideoPhoto.svg";
---

<!-- <video src="/video/bread-eating-race.mp4" autoplay loop muted></video> -->
 <section class="flex justify-center m-16">
  <Image src={BreadEatingRace} alt="パン食い競走" />
 </section>
